.banner{
    display: flex;
    justify-content: center;
    padding: 60px 0px; 
    position: relative;  

    .container{
        width: 1500px;

        img{
            width: 100%;
            overflow: hidden;

        }
        span{
            font-size: 50px;
            position:absolute;
            font-weight: 500;
            top: 170px;
            left: 290px;
            color: #fff; 
            
            i{
                font-family:Georgia, 'Times New Roman', Times, serif;
            }
        }

        button{
            font-size: 16px;
            width: max-content;
            padding: 14px 24px;
            margin: 8px 10px;
            background-color: rgb(11, 139, 139);
            color: #fff;
            border: none;
            position: absolute;
            top: 250px;
            left: 320px;
            border-radius: 10px;
            cursor: pointer;

            &:hover{
                background-color: brown;
            }
        }

    }
}